
#grass{
    border: solid 1px green;
    color: green;
}

#poison{
    border: solid 1px  purple;
    color: purple;
}
#fire{
    border: solid 1px red;
    color: red;
}
#flying{
    border: solid 1px blue;
    color: blue;
}
#water{
    border: solid 1px teal;
    color: teal;
}
#bug{
    border: solid 1px darkgreen;
    color: darkgreen;
}
#normal{
    border: solid 1px black;
    color: black;
}
#electric{
    border: solid 1px yellow;
    color: yellow;
}
#ground{
    border: solid 1px brown;
    color: brown;
}
#fighting{
    border: solid 1px cadetblue;
    color: cadetblue;
}
#psychic{
    border: solid 1px indigo;
    color: indigo;
}
#rock{
    border: solid 1px grey;
    color: grey;
}
#ice{
    border: solid 1px turquoise;
    color: turquoise;
}
#ghost{
    border: solid 1px blueviolet;
    color: blueviolet;
}
#dragon{
    border: solid 1px crimson;
    color: crimson;
}

.jumbotron{
   background-image:url(imagenes/241232_1_5bec8f2e39ae2.jpg);
   background-position:center; 
   background-size: cover;
   border-radius: 15px;
   margin-top: 2%;
   opacity: 0.9;;
}



.contenedor-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .contenedor-modal button {
    position: relative;
    top: 40%;
  }
  
  